@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
        background-color: rgba(0, 0, 0, 0.959);
}
header {
    display: flex;
    justify-content: center;    
}

.links {
    width: 100 vw;
    display: flex;
    justify-content: space-around;
}
.links a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: white;
  font-weight: bold;
}
.links a:hover {
    font-size: 1.2em;
}
.links a:active {
    font-size: 1.3em;
}
main {
    border: 2px solid white;
}
.section1 {
    border: 3px solid white;
    color:white;
    font-size: 0.9em;
}
.section1 > img{
    border-radius: 50%;
}
.section2 {
    color: white;
}
footer {
    color: white;
    text-align: center;
    font-size: 0.8em;
}
