@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
        background-color: rgba(0, 0, 0, 0.959);
}
header {
    display: flex;
    justify-content: center;    
}

.links {
    width: 100 vw;
    display: flex;
    justify-content: space-around;
}
.links a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: white;
  font-weight: bold;
}
.links a:hover {
    font-size: 1.2em;
}
.links a:active {
    font-size: 1.3em;
}