@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.959);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 70px 1fr auto;
    grid-template-columns: repeat(4, 1fr);
}
header {
    grid-area: 1/1/2/5; 
    transform: scaleX(0);
    transform-origin: center;
    animation: expandirLinha 0.5s ease-out 1s forwards;
}

@keyframes expandirLinha {
  to {
    transform: scaleX(1);
  }
}
.links {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.links a {
    text-decoration: none;
    padding: 15px;
    color: white;
    font-weight: bold;
}
.links a:hover {
    font-size: 1.2em;
    background: linear-gradient(to bottom right, #1b5e3c, #2e7d4f);
    box-shadow: 0 0 15px rgba(0, 255, 100, 0.4),
    inset 0 0 8px rgba(0, 255, 100, 0.2);
    transform: scale(1.05);
    border-radius: 5px;
    margin-top: 5px;
}
.links a:active {
    font-size: 1.3em;
}
main {
    margin: 5px;
    border: 2px solid rgb(95, 136, 12);
    border-radius: 5px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    grid-area: 2/1/3/5;
}
.section1 {
    grid-area: 1/1/3/2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color:white;
    font-size: 0.9em;

    overflow: hidden;
    transform: translateX(-1000px);
    animation: aparecerDaEsquerda 1s ease-out 0.5s forwards;

}
#card-principal{
    border-radius: 50%;
    box-shadow: 0 0 2px 1px yellowgreen;
    
}
@keyframes aparecerDaEsquerda {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#legenda {
    margin-top: 20px;
}
.section2 {
    grid-area: 1/2/3/3;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    opacity: 0;
    animation: aparecerDaDireita 1s ease-out 0.5s forwards;
}
#digitando {
  white-space: pre-line;
  overflow: hidden;
  border-right: 2px solid white;
  display: flex;
  flex-flow: column wrap;
  width: 0;
  animation: escrever 6s steps(90, end) forwards, blink 0.7s infinite;
}
@keyframes aparecerDaDireita {
  from {
    opacity: 0;
    transform: translateX(1000px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes escrever {
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
footer {

    color: white;
    text-align: center;
    font-size: 0.8em;
    grid-column: 1/5;

}
